{% extends "base.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    Stack News | Post
{% endblock %}

{% block content %}

    <div style="margin-top: 1%">
        <div class="container" style="background-color: lightcyan; max-height: 100%;">

            {% for post in post_obj %}
                <div>
                    <a href=" {% if post.url %} {{ post.url }} {% else %} # {% endif %}">{{ forloop.counter }}. {{ post.title }} ({{ post.created_by.username }})</a>
                </div>
                <div class="row">
                    {% if post.title %}
                        <div class="col-md-6 col-xs-6 col-lg-6">
                            <p class="">{{ post.post_text }}</p>
                            <span onclick="javascript:$('#post_comment').click()">Comment</span>
                            <form action="/dashboard/render_comment_page/" method="post" style="display: inline">
                                {% csrf_token %}
                                <input name="post_id" value="{{ post.id }}" hidden>
                                <button type="submit" id="post_comment" class="btn" style="display: none"></button>
                            </form>
                        </div>
                    {% endif %}

                    {% if created_by.first_name %}
                        <div class="col-md-6 col-xs-6 col-lg-6" style="text-align: right">
                            <span class="pull-right right">-- by {{ post.created_by.first_name }}</span>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
