<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stack News Post</title>
</head>
<body>
<nav class="nav">
  <a class="nav-link active" href="#">Stack News</a>
  <a class="nav-link" href="#">New</a>
  <a class="nav-link" href="#">Thread</a>
    <a class="nav-link" href="#">Past</a>
    <a class="nav-link" href="#">Comment</a>
    <a class="nav-link" href="#">Ask</a>
    <a class="nav-link" href="#">Show</a>
    <a class="nav-link" href="#">Job</a>
    <a class="nav-link" href="#">Submit</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>

<div>
  {% for post in posts%}
  <div>
    <span>{{ post.name }}</span>
    
  </div>
  {%endfor%}
</div>
</body>
</html>
